:root{
    --clr-dark: #d1dced;
    --clr-light: #a5bbdd;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
*{
    font-family: 'poppins', sans-serif;
}
html{
    background-color: #f3f2ef;
}
.wrapper{
    width: 50%;
    margin: 0 auto;
}

.card{
    width: 75%;
    height: 75%;
    background-color: var(--clr-light);
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    margin: 20px;
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card-outer{
    display:flex;
    justify-content: center;
}

.icon{
    width: 35%;
margin-top: 1.5rem;

}
.bottom{
    background-color: var(--clr-dark) !important;
    padding-bottom: 50px;
    padding-top: 40px;
    border-radius: 25% 25% 0 0;
}
